<div class="container">
    <ul class="list-unstyled">
        <li class="well">
            <h1> {{user.firstName}} {{ user.lastName }} </h1>
            <!-- <p>Income : {{ user.income }} </p> -->
            <p>Income : <span [innerHTML]="user.income"></span> </p>
            <p>Date of Birth : {{ user.dob }}</p>
            <button (click)="moreInfo(user)" 
                class="btn btn-info btn-sm">More Info</button>
            Total Votes : {{ user.vote }}
            <input type="number" 
                [value]="user.vote"
                (change)="user.vote = $event.target.value">
            <input type="number" [(ngModel)]="user.vote">
        </li>
    </ul>

</div>