<div class="container">
  <h3 appHighlight [defaultColor]="myColor">Test</h3>
  <ul class="list-unstyled">
    <li class="well" *ngFor="let user of users; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd;">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-2">
          {{i}}
          Is this Even : {{ isEven }}
          <img [src]="user.image" class="img-circle img-responsive">
          <button (click)="moreInfo(user)" class="btn btn-info btn-sm">More Info</button>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-10">
          <h1 [ngStyle]="{'color' : 'red'}"> {{user.firstName | uppercase }} {{ user.lastName | uppercase }} </h1>
          <!-- <p>Income : {{ user.income }} </p> -->
          <p appHighlight [defaultColor]="'yellow'" *ngIf="user.isWorking; else ElseTemplate">Income : <span [innerHTML]="user.income | currency : 'INR'"></span> </p>
          
          <!-- <ng-template [ngIf]="user.isWorking">
             <p> Income : <span [innerHTML]="user.income"></span> </p>
          </ng-template> -->

          <p [ngStyle]="{'font-weight' : 'bold', 'border-bottom' : borderBottom}">
              Date of Birth : {{ user.dob | date : 'MM/dd/yyyy' }}</p>

          Total Votes : {{ user.vote }}
          <input type="number" [value]="user.vote" (change)="user.vote = $event.target.value">
          <input type="number" [(ngModel)]="user.vote">
        </div>

        <ng-template #ElseTemplate>
         <p [ngClass]="{'feature' : isOdd}"> {{user.firstName}} is not Working now!</p>
        </ng-template>

      </div>
    </li>
  </ul>

<!--   
  <div ngSwitch="2">
    <div *ngSwitchCase="'1'">One </div>
    <div *ngSwitchCase="'2'">Two</div>
    <div *ngSwitchCase="'3'">Three</div>
    <div *ngSwitchDefault>Default</div>
  </div> -->
</div>