<div class="container">


  <app-model-form-demo></app-model-form-demo>


<!-- <app-template-form-demo></app-template-form-demo> -->


<!-- 
  <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-built-in-demo></app-built-in-demo> -->

  <!-- <app-life-cycle-demo [title]="title"></app-life-cycle-demo> -->

  <hr>

  <p>App Work!</p>
  <input type="text"[(ngModel)]="title">
  <app-users [title]="title">
    <h2>Some heading</h2>
  </app-users>
  <!-- <app-users></app-users>
  <app-users></app-users> -->
</div>