<div class="container">

  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li><a [routerLink]="['login']">Login</a></li>
    <li><a [routerLink]="['signup']">Sign Up</a></li>
    <li><a [routerLink]="['pipe']">Pipe</a></li>
    <li><a [routerLink]="['directive']">Directives</a></li>
    <li><a [routerLink]="['product', 5, 'iPhone']">Product</a></li>
    <li><a [routerLink]="['product', 3, 'Samsung']">Product</a></li>
    <li><a [routerLink]="['employee']">Employee</a></li>
    <li><a [routerLink]="['lazy']">Lazy</a></li>
  </ul>
</div>

<div class="container">

  <p>App Work!</p>

  <router-outlet></router-outlet>

  <!-- <app-model-form-demo></app-model-form-demo> -->


  <!-- <app-template-form-demo></app-template-form-demo> -->


  <!-- 
  <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-built-in-demo></app-built-in-demo> -->

  <!-- <app-life-cycle-demo [title]="title"></app-life-cycle-demo> -->







  <input type="text" [(ngModel)]="title">
  <app-users [title]="title">
    <h2>Some heading</h2>
  </app-users>
  <!-- <app-users></app-users>
  <app-users></app-users> -->
</div>